*.pyc
.DS_Store
cocos2d
.idea
output
/client/jsProJect
/client/.DS_Store
/client/JS/mj_lin/res/.DS_Store
/client/JS/mj_lin/res/HotUpdateTest
.svn
cocos2d.zip
/client/MuMuQiPai_3.17.2
*.udf
/client/JS/mj_lin/UI/PublicUi/mjpublicui.udf
/server/.DS_Store
nohup.out
